outputs/
wandb/
# Ignore pycache at all levels
**/__pycache__/
openai_configs.yaml
lm-evaluation-harness/
eval/bigcode-evaluation-harness/
log/
data/models
# Ignore all .csv files
*.csv
**/log/
**/results/
**/visualization/
# Unignore the advbench files
!dataset_generation/data/advbench/harmful_behaviors.csv
!dataset_generation/data/advbench/harmful_strings.csv
# Additional ignore scripts
test_launch_*.sh
launch_*.sh